@charset "utf-8";
/* Rent A Car Stillleri */
html, body{height:100%; margin:0;padding:0}
.r1
{
	background-color:#f2f2f2;
	padding:25px;
	border-radius:8px;
}.r2
{
	background-color:#1106f4;
}.r3
{
	background-color:#38f406;
}.r4
{
	background-color:#f4d506;
}.r5
{
	background-color:#e6e6e6;
}

/* padding */
.p15
{
	padding:15px;
}
.pt_10
{
	padding-top:10px;
}
.pt_5
{
	padding-top:5px;
}
.pb_5
{
	padding-bottom:5px;
}

/* height */

.he70
{
	max-height:70px !important;
	width:auto;
	margin:auto;
}

.vcenter {
	line-height:60px;
    vertical-align: middle;
    
}
.vcenter1 {
	line-height:30px;
    vertical-align: middle;
    
}

.right
{
	float:right;
	margin:15px;
	
}
.right0
{
	position:absolute;
	right:30px !important;
}
.breadcrumb
{
	font-size:11px;
	background-color: transparent!important;
}
.cursor
{
	opacity:0.8;
	cursor:pointer;
	font-size:14px;
}
.cursor:hover
{
	opacity:1;
}
.t10
{
	font-size:10px !important;
}
.border-right
{
	  border-right: 1px solid #eee;
}
.border-left
{
	  border-left: 1px solid #eee;
}
/* Kullanıcı Girişleri */
.orta_kutu
{
height:100%;
display:table;
width: 100%;
padding: 0;
}
.orta_cont
{
height: 100%; 
display:table-cell; vertical-align: middle;
}
/* Araç Gösterim */
.arac_sec
{
	opacity:0.7;
	cursor:pointer;
}
.arac_sec:hover
{
	opacity:1;
}

.ust_cizgi
{
	 border-top: 1px solid rgba(0,0,0,0.1);
}
.tum_res
{
	max-height:60px !important;
	width:auto;
	margin:auto;
	margin-top:0px;
	
}
.gizli
{
	position:absolute;
	top:0;left:0;
	opacity:0;
	cursor:pointer;
}
.gizli:hover
{
	opacity:1;
}
.row
{
	margin-top:2px;
	margin-bottom:2px;
}
